@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*, 
*::after, 
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.hero{
  height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(hsla(0,0%, 100%, 0),hsla(0,0%, 100%, 0)), url(../assets/stock-cutting-board.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  z-index: 0;
  opacity: .9;

    &__title{
      background-color: hsla(39, 14%, 100%, .3);
      border-width: 1.5px;
      border-color: hsla(0, 0%, 56%, .3);
      color: hsla(0, 0%, 0%, .8);
      position: relative;
      top: 50%;
      z-index: 10;
      width: 44vw;
      border-style: solid;
      border-width: 1.5px;
      letter-spacing: 8px;
      margin: 0 auto;
      padding: 5px 30px;
      text-align: center;
      font-size: 1.5vw;
    }
}

.header{
  height: 15vw;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
  z-index: 100;
  color: lightgray;
    &__wrap{
      filter: drop-shadow(0px 3px 4px rgba(20, 20, 20, 0.6));
      position: fixed;
      z-index: 200;
    }

    &__logo{
      height: 6vw;
      width: 10vw;

      &--image{
        margin-top: 1.5em;
        margin-left: 1vw;
        object-fit: cover;
        object-position: 51% 0%;
        height: 100%;
        width: 100%;
      }
    }

    &__menu{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30vw;
      font-size: 1.5rem;

      &--button{
        position: absolute;
        top: calc(50% - .75rem);
        border: solid;
        border-color: blanchedalmond;
        height: 3em;
        width: 3em;
        right: 5%;
        z-index: 100;
        cursor: pointer;
        transition: all .5s ease-out;

      &--button::before, &--button::after{
        content: 'main';
        color: white;
        position: absolute;
        z-index: 101;
        width: 2em;
        height: 6px;
        background-color: blanchedalmond;
        transition: all .5s ease-in-out;
      }

      &--button::before{
        content: 'there';
        width: 2em;
        height: 6px;
        background-color: blanchedalmond;
        transform: translateY(10px);
      }
      &--button::after{
        content: 'hello';
        width: 2em;
        height: 6px;
        background-color: blanchedalmond;
        transform: translateY(-10px);
      }

        &--burger{
          width: 2em;
          height: 6px;
          background-color: blanchedalmond;
          transition: all .5s ease-in-out;
        }
      }

      &--options{
        top: 8%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        right: 0%;
        opacity: 0;
        width: 30vw;
        background-color: transparent;
        transition: all 1s ease;

        
        &--open{
          display: flex;
          justify-content: space-evenly;
          top: 6%;
          position: relative;
          opacity: 1;
          right: 22%;
          background-color: transparent;
          padding: 1rem;
          width: 25rem;
          transition: all 1s ease;
        }
      }
    }
}
.header__menu--button--burger::after{
  content: '';
  height: 10em;
  width: 10em;
  color: white;
  background-color: yellow;
}


.order{
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, .8);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50vh;
    padding: 0 5em 3em;

    &--select{
      width: 75%;
    }
  }
}


// .button{
//   all: unset;
//   border-radius: 10px;
//   border: none;
//   padding: 1rem 2rem;
//   margin: 0;
//   text-decoration: none;
//   background: hsla(0, 75%, 35%, 0.65);
//   border-color: hsla(0, 75%, 35%, 0.65);
//   color: #ffffff;
//   font-size: 1rem;
//   cursor: pointer;
//   text-align: center;
// }


.container{
  margin-top: 10em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: solid;
  color: blue;
  transition: all .5s ease-in-out;
}

.link--burger{
  position: relative;
  // z-index: 1000;
  width: 50px;
  height: 10px;
  border: solid;
  color: red;
  border-color: red;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.link--burger::before, .link--burger::after{
  content: '';
  position: absolute;
  // z-index: 1000;
  width: 50px;
  height: 10px;
  border: solid;
  color: red;
  border-color: red;
  border-radius: 5px;
  transition: all .5s ease-in-out;

}

.link--burger::after{
  transform: translate(-4px,-16px);
}

.link--burger::before{
  transform: translate( -4px, 10px);

}