@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*, 
*::after, 
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.hero{
  height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(hsla(0,0%, 100%, 0),hsla(0,0%, 100%, 0)), url(../assets/stock-cutting-board.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  z-index: 0;
  opacity: .9;

    &__title{
      background-color: hsla(39, 14%, 100%, .3);
      border-width: 1.5px;
      border-color: hsla(0, 0%, 56%, .3);
      color: hsla(0, 0%, 0%, .8);
      position: relative;
      top: 50%;
      z-index: 10;
      width: 44vw;
      border-style: solid;
      border-width: 1.5px;
      letter-spacing: 8px;
      margin: 0 auto;
      padding: 5px 30px;
      text-align: center;
      font-size: 1.5vw;
    }
}

.header{
  height: 15vw;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
  z-index: 100;
  color: lightgray;
    &__wrap{
      filter: drop-shadow(0px 3px 4px rgba(20, 20, 20, 0.6));
      position: fixed;
      z-index: 200;
    }

    &__logo{
      height: 6vw;
      width: 10vw;

      &--image{
        margin-top: 1.5em;
        margin-left: 1vw;
        object-fit: cover;
        object-position: 51% 0%;
        height: 100%;
        width: 100%;
      }
    }

    &__menu{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 23vw;

      &--button{
        transition: all 1s ease;
      }

      &--options{
        position: relative;
        left: 100%;
        background-color: transparent;
        // transition: all .5s ease 1s;

        &--open{
          z-index: 1;
          margin-right: 8rem;
          padding: 2rem;
          border-radius: 10px;
          animation-name: moveInLeft;
          animation-duration: .5s;
          animation-timing-function: ease-out;
        }
      }


    }


}

.order{
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, .8);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50vh;
    padding: 0 5em 3em;

    &--select{
      width: 75%;
    }
  }
}


.button{
  all: unset;
  border-radius: 10px;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: hsla(0, 75%, 35%, 0.65);
  border-color: hsla(0, 75%, 35%, 0.65);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}


